<!DOCTYPE html>
<html>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
    
</script>
<body>


<form action="" method="get">
  <label for="bond-number">1. Enter bond number: </label><br>
  <input type="text" id="bond-number" name="bond-number" value=""><br>
  <label for="name_of_purchaser">1. Enter name of purchaser: </label><br>
  <input type="text" id="name_of_purchaser" name="name_of_purchaser" value=""><br>
  <label for="political-party-name">1. enter party name: </label><br>
  <input type="text" id="political-party-name" name="political-party-name" value=""><br>
  <label for="political_donations_name">1. enter POLITICAL DONATIONS NAME: </label><br>
  <input type="text" id="political_donations_name" name="political_donations_name" value=""><br>
  <label for="companydonationsname">1. enter company DONATIONS NAME: </label><br>
  <input type="text" id="companydonationsname" name="companydonationsname" value=""><br>
  <input type="submit" value="Submit">


</form> 

<p>click submit</p>

<!--Question 1-->
{%if bond_data%}
<h5>Q1</h5>
{%for x in bond_data%}

<table>
    <tr>
        {%for i in x["headers"]%}
            <th>{{i}}</th>
        {%endfor%}
    </tr>

    {%for j in x["data"]%}
    <tr>
        {%for i in j%}
            <td>{{i}}</td>
        {%endfor%}
    </tr>  
    {%endfor%}  
</table>
<br>
{%endfor%} 

{%endif%}


{%if companydata%}
<p>Q2.</p>
<table>
    <tr>
        <th>Purchase year</th>
        <th>No. of Bonds</th>
        <th>Total bonds</th>
    </tr>
    {%for row in companydata%}
    <tr>
        {%for i in row%}
        <td>{{i}}</td>
        {%endfor%}
    </tr>
    {%endfor%}
</table> 
{%endif%}

{%if politicalpartydata%}
<p>3.</p>
<table>
    <tr>
        <th>Year</th>
        <th>Number of Bonds</th>
        <th>Total value of bonds</th>
    </tr>
    {%for row in politicalpartydata%}
    <tr>
        {%for i in row%}
        <td>{{i}}</td>
        {%endfor%}
    </tr>
    {%endfor%} 
</table>
{%endif%}


{%if politicaldonationsdata%}
<p>4.</p>
<table>
    <tr>
        <th>Company</th>
        <th>Amount Donated to Political Party</th>
    </tr>
    {%for row in politicaldonationsdata%}
    <tr>
        {%for i in row%}
        <td>{{i}}</td>
        {%endfor%}
    </tr>
    {%endfor%}
</table>
{%endif%}


{%if companydonationsdata%}
    <p>5.</p>
    <table>
        <tr>
            <th>Political Party</th>
            <th>Amount Donated by Company</th>
        </tr>
        {%for row in companydonationsdata%}
        <tr>
            {%for i in row%}
            <td>{{i}}</td>
            {%endfor%}
        </tr>
        {%endfor%}
    </table>
    {%endif%}

    <p>6.</p>
    <div >
        <canvas id="total_donations_data_chart"></canvas>
        <div class="chartBox"><canvas id="companydatachart" ></canvas></div>
        <div class="chartBox"><canvas id="companydatachart2" ></canvas></div>
        
    </div>
    
    <script>
        function Decimal(string){
        return parseInt(string,10);
        }
        const donations_data={{total_donations_data|safe}};
        const companytable={{companydata | safe}};

        new Chart("total_donations_data_chart", {
                type: "pie",
                data: 
                {
                    labels: donations_data.map(x => x[0]),
                    datasets: 
                    [{
                        
                        data: donations_data.map(x => x[1]),
                    }],
                }
            });

            new Chart("companydatachart", {
				type: "bar",
				data: 
				{
					labels: companytable.map(x => x[0]),
					datasets: 
					[{
                        label: "Number of bonds vs Year",
					
						
						data: companytable.map(x => x[1])
					}],
				}
			}
        );

        new Chart("companydatachart2", {
				type: "bar",
				data: 
				{
					labels: companytable.map(x => x[0]),
					datasets: 
					[{
                        label: "Value of bonds vs Year",
					
					
						data: companytable.map(x => x[2])
					}],
				}
			});
            
        


    </script>
</body>
